body {
  background-color: blueviolet; }

h1 {
  color: white;
  background-image: linear-gradient(to right, #3e0672, #6c18b9, transparent);
  padding: 10px; }

.botao {
  background-color: #320c55;
  color: #fff;
  font-size: 1.8em; }

