body {
  background-color: blueviolet;
  background-image: url(6777486e7ac73f627f41dceddc0eedd1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

h1 {
  color: white;
  background-image: linear-gradient(to right, #3e0672, #6c18b9, transparent);
  padding: 10px; }

.botao {
  background-color: #320c55;
  color: #fff;
  font-size: 1.8em; }

