body{
    background-color: blueviolet;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
h1{
    color: white;
    background-image: linear-gradient(to right, rgb(62, 6, 114), rgb(108, 24, 185), transparent );
    padding: 10px;
}